// @font-face {
//   font-family: 'Bebas Neue';
//   src: url('../fonts/BebasNeue-Thin.woff2') format('woff2');
//   font-weight: 100;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Bebas Neue';
//   src: url('../fonts/BebasNeue-Light.woff2') format('woff2');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Bebas Neue';
//   src: url('../fonts/BebasNeue-Regular.woff2') format('woff2');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Bebas Neue';
//   src: url('../fonts/BebasNeue-Book.woff2') format('woff2');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'Braind Bebas';
//   src: url('../fonts/BraindBebasRegular.woff2') format('woff2');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-Thin.woff2') format('woff2');
//   font-weight: 100;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2');
//   font-weight: 200;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-Light.woff2') format('woff2');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-Black.woff2') format('woff2');
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2');
//   font-weight: 100;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2');
//   font-weight: 200;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2');
//   font-weight: 300;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-Italic.woff2') format('woff2');
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2');
//   font-weight: 500;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2');
//   font-weight: 600;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2');
//   font-weight: 700;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2');
//   font-weight: 800;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Montserrat';
//   src: url('../fonts/Montserrat-BlackItalic.woff2') format('woff2');
//   font-weight: 900;
//   font-style: italic;
//   font-display: swap;
// }
