*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
  font-family: $msrt;
  font-weight: 400;
  line-height: 1.5;
  color: $grey1;
}
.title {
  font-family: $nve;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.9px;
  color: $black;
}
a, button, input {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 clamp(20px, 6vw, 40px);
}
.invisible-scroll {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: transparent transparent;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
  }
}
.btn-primary {
  padding: 8px;
  border-radius: 32px;
  background-color: $yellow;
  font-weight: 600;
  min-width: 100px;
  text-align: center;
  transition: background-color .4s ease, color .4s ease;
  &:hover, &:focus {
    background-color: #000;
    color: #fff;
  }
}
.link-more {
  border: 1px solid $yellow;
  padding: 10px 20px;
  border-radius: 46px;
  transition: background-color .4s ease;
  &:hover, 
  &:focus {
    background-color: $yellow-light;
  }
}
.main-black {
  color: $black;
}
.main-grey {
  color: $grey1;
}
.hero-global {
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: $gradient;
    box-shadow: inset 20px -20px 65px rgba(0, 0, 0, .5);
  }
}
.hero-title {
  font-size: 64px;
  text-transform: uppercase;
  color: #fff;
}
.hero-text {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1260px;
  padding: 0 clamp(20px,6vw,40px);
}
.hero-img {
  min-height: 400px;
  width: 100%;
  height: 100%;
}
.light-grey-bg {
  background-color: $grey-bg2 !important;
}
.inner-icon {
  fill: #fff;
}
.social-link {
  &:hover, &:focus {
      & .soc-ellipse circle {
        fill: $yellow;
      }
      & .inner-icon {
        fill: $black;
      }
    }
}
