@media (min-width: 992px) {
  .header {
    &__menu-btn {
      display: none;
    }
    &__content {
      position: relative;
      margin: 0 20px;
    }
    &__right, &__nav {
      position: static;
      right: unset;
      width: 100%;
      background-color: unset;    
      max-height: 82px;
      display: flex;
      align-items: center;    
    }
    .nav-list {
      &__btn {
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-weight: 500;
        &::after {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background: url('../imgs/down.svg') no-repeat center / contain;
          margin-left: 5px;
        }
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
      &__item:not(:last-child) {
        margin-right: 20px;
      }
    }
    &__donate {
      margin: 0 40px 0 25px;
    }
  }
  .main {
    &__hero {
      height: 100%;
      &-wrapper {
        height: calc(100vh - 82px);
        min-height: 650px;
        overflow: hidden;
      }
      &-title {
        font-size: clamp(92px, 7vw, 120px);
      }
      &-name {
        visibility: visible;
        opacity: 0;
      }
      &-names {
        opacity: 0;
        visibility: hidden;      
      }
      &-content {
        transform: translateY(0);
        top: 38%;
      }
      .slick-dots {
        max-width: 1200px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        & li button {
          width: max-content;
          height: unset;
          background-color: transparent;
          font-size: 18px;
          color: #fff;
          font-weight: 500;
        }
        li.slick-active button {
          position: relative;
          background-color: transparent;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: -8px;
            width: 120%;
            height: 3px;
            border-radius: 3px;
            background-color: $yellow;
          }
        }
      }
      .slick-track, .slick-list {
        height: 100%;
      }
    }
    &__our {
      &-mobtitle {
        display: none;
      }
      &-text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 140px;
        .title {
          display: block;
          font-size: 40px;
          margin-bottom: 20px;
        }
      }
    }
    &__mission {
      &-text {
        margin-bottom: 0;
        line-height: 1.8;
      }
    }
    &__mission,
    &__vision {
      &-text {
        line-height: 1.8;
        max-width: 450px;
        margin: 0 auto;
      }
    }
    &__what {
      display: flex;
      align-items: stretch;
      padding-bottom: 0;
      &-title {
        font-size: 30px;
        margin-bottom: 30px;
      }
      &-pic {
        margin-bottom: 0;
        height: 100%;
      }
      &-text {
        background-color: $grey-bg1;
        padding: 25px 25px 0;
      }
      &-descr {
        margin-bottom: 20px;
      }
      &-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &__donate {
      &-inner {
        grid-template-columns: 1fr 2fr 3fr;
        grid-template-rows: repeat(2, 1fr);
      }
      &-logo {
        grid-column: 1/2;
        grid-row: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-heading {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      &-percents {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        align-items: center;
      } 
      &-percent {
        margin-right: 10px;
      }
      &-pertext {
        max-width: 170px;
      }
      &-formwrapp {
        grid-column: 3/4;
        grid-row: 1/3;
        display: flex;
        align-items: center;
      }
      &-form {
        width: 100%;
      }
      &-subtext {
        margin-bottom: 0;
      }
      &-amount {
        padding: 2px 20px 0;
      }
    }
    &__villages {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      &-title {
        margin-bottom: 20px;
      }
      &-text {
        flex-basis: 40%;
        padding: 50px 75px 50px 20px;
      }
      &-more {
        display: block;
        margin: 0 auto;
        width: max-content;
      }
      &-vidwrapper {
        flex-basis: 60%;
      }
      &-video {
        min-height: unset;
      }
    }
    &__stories {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      &-arrows {
        display: grid;
        grid-template-columns: repeat(2, 52px);
        grid-gap: 10px;
        width: max-content;
        margin: 0 auto;
      }
      &-arrow {
        display: block;
        & .arrow-bg {
          fill: $yellow;
          stroke: $yellow;
        }
        &.disable {
          & .arrow-bg {
            fill: #fff;
            stroke: #a8a8a8;
            stroke-width: 1px;
          }
          & path {
            fill: "#a2a2a2";
          }
        }
      }
      &-title {
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;
        margin: 30px 0 20px;
      }
      &-items {
        position: relative;
        grid-column: 1/2;
        grid-row: 1/3;
        margin-bottom: 0;
        .slick-track {
          display: flex;
          align-items: center;
        }
        .slick-arrow {
          position: absolute;
          right: 0;
          top: 0;
          font-size: 0;
        }
      }
      &-item {
        min-width: unset;
      }
      &-morewrap {
        grid-column: 2/3;
        grid-row: 2/3;
      }
      &-more {
        display: block;
        max-width: max-content;
        margin: 0 auto;
        padding: 5px 15px;
      }
      &-date {
        font-size: 14px;
      }
      &-name {
        font-size: 22px;
      }
      &-descr {
        font-size: 18px;
      }
    }
    &__location {
      &-img {
        & img{
          padding-bottom: 25vw;
        }
      }
      &-location {
        left: calc(50% - 200px);
      }      
    }
  }
  .our-story {
    &__info {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 100px;
      &-title {
        font-size: 48px;
        margin-bottom: 10px;
      }
      &-sub {
        font-size: 20px;
        margin-bottom: 36px;
      }
      &-p:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    &__quote, blockquote {
      padding-left: 45px;
      margin-bottom: 40px;
    }
  }
  .blog {
    padding-bottom: 100px;
    &__hero {
      max-height: 436px;      
    }
    &__img {
      object-position: 0 40%;
    }
    &__items {
      max-width: 924px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      &-more {
        display: none;
      }
      &-pages {
        max-width: 924px;
        padding-right: 90px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      &-pagelist {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-pagelink {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 50%;
        margin: 0 5px;
        transition: background-color .4s ease, color .4s ease;
        &.current {
          background-color: $yellow;
          color: #fff;
        }
        &:hover, &:focus {
          background-color: $yellow;
          color: #fff;
          & svg {
            fill: #fff;
          }
        }
        &.disabled {
          fill: $grey2;
          pointer-events: none;
        }
      }
      &-dots {
        display: block;
        margin: 0 10px -6px;
        color: $yellow;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    &__item {
      margin-bottom: 0;
    }
    .tag-separator {
      padding: 0 5px;
    }
  }
  .blog-item {
    position: relative;
    &__heading,
    &__tags,
    &__arrows {
      margin-left: 150px;
    }
    &__title {
      font-size: 40px;
      line-height: 1.35;
      max-width: 600px;
      margin: 0 auto 25px;
    }
    &__sub {
      &-date {     
        &::before, &::after {
          margin: 0 10px;
        }
      }
    }
    &__content {
      display: flex;
      flex-direction: row-reverse;
      width: max-content;
      margin: 0 auto;
      &-text {
        max-width: 720px;
      }      
    }
    &__img, &__p, &__subtitle {
      margin-bottom: 45px;
    }
    &__quote {
      max-width: 585px;
      padding-left: 45px;
    }
    &__share {
      margin-right: 0;
    }
    &__socials {
      width: 50px;
      margin-right: 80px;
      border-top: none;
      padding-top: 0;
      &-wrapper {
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 100px;
        margin-bottom: 0;
      }
      
      &-item {
        margin-right: 0;
        margin-bottom: 8px;
        width: 32px;
        height: 32px;
      }
      &-expand {
        width: 32px;
        height: 32px;
      }
      &-expbtn svg {
        width: 32px;
        height: 32px;
      }
      &-group {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 199px;
        height: 100%;
        &.active {
          max-height: 320px;
        }
      }
    }
    &__tags,
    &__arrows {
      max-width: 720px;
      margin: 0 auto;
      transform: translateX(65px);
    }
    &__arrows {
      margin-top: 120px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
  }
  .footer {
    &__subscribe {
      &-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 10px;
      }
      &-submit {
        grid-column: 1/3;
      }
    }
  }
  .footer-bottom { 
    position: relative;
    min-height: 288px;
    &::after {
      content: '';
      position: absolute;
      bottom: 90px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #3e3e3e;
    }   
    &__inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 2fr 1fr 1fr;
      grid-gap: 0 50px;      
    }
    &__logo {
      display: block;
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &__contact {
      margin-bottom: 0;
      grid-column: 3/4;
      grid-row: 1/2;
    }
    &__socials {
      grid-column: 1/2;
      grid-row: 2/3;
      display: flex;
      align-items: flex-end;
    }
    &__social-wrapper {
      margin-bottom: 0;
    }
    &__quick {
      grid-column: 2/3;
      grid-row: 1/3;
      &-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: column;
      }
      &-link {
        font-size: 14px;
      }
      &-item {
        margin-bottom: 0;
      }
    }
    &__separator {
      position: static;
      border-top: none;
      padding-top: 0;
      grid-column: 3/4;
      grid-row: 2/3;
    }

    &__copyright {      
      grid-column: 1/4;
      grid-row: 4/5;
      display: grid;
      grid-template-columns: 1fr 100px;
      &-text {
        text-align: center;
        max-width: unset;
        font-size: 12px;
      }
    }
    &__charity {
      & a {
        opacity: .8;
        transition: opacity .4s ease;
        &:hover,
        &:focus {
          opacity: 1;
        }
      }
      & a:not(:last-child) {
        margin-right: 10px;
      }
    }
    &__totop {
      &.visible {
        bottom: 95px;
      }
    }
  }

  .hero-global {
    margin-bottom: 100px;
  }
  .hero-title {
    font-size: 92px;
  }
  .hero-text {
    bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .main {
    &__our {
      padding-top: 120px;
      padding-bottom: 100px;
    }
    &__what {
      &-title {
        font-size: 48px;
      }
      &-text {
        padding: 70px 70px 0;
        line-height: 1.8;
      }
      &-textin {
        max-width: 470px;
      }
      &-descr {
        margin-bottom: 50px;
      }
      &-list {
        grid-gap: 30px;
      }
    }
    &__donate {
      &-form {
        grid-template-columns: repeat(2, 1fr) repeat(2, 2fr);
        grid-template-rows: 1fr;
      }
      &-one, &-five, &-custom, &-submit {
        grid-column: unset;
        grid-row: unset;
        height: 46px;
      }
      &-one, &-five {
        width: max-content;
      }
      
      &-radio:checked {
        & + .main__donate-amount {
          background: none;
        }
      }
    }
    &__villages {
      padding-top: 120px;
    }
    &__stories {
      padding-top: 140px;
      padding-bottom: 140px;
      &-title {
        margin-bottom: 40px;
      }
      &-morewrap {
        padding-top: 100px;
      }
    }    
  }
  .footer {
    &__subscribe {
      padding-bottom: 120px;
      &-title {
        padding-top: 120px;
      }
    }
  }
  .footer-bottom {
    &__inner {
      grid-gap: 0 160px;
    }
  }
  .hero-global {
    height: calc(100vh - 82px);
  }
  .hero-title {
    font-size: clamp(92px, 7vw, 120px);
  }
}