$yellow: #fdc20f;
$yellow-light: #fffae9;
$black: #070707;
$grey1: #535353;
$grey2: #929292;
$grey-bg1: #f3f3f3;
$grey-bg2: #f9f9f9;
$msrt: 'Montserrat', sans-serif;
$nve: 'Bebas Neue', sans-serif;
$gradient: linear-gradient(to top,rgba(0,0,0,.2),rgba(255,170,0,.5));