@import "_vars";
@import "_fonts";
@import "_global";
@import "_slick";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 82px;
  display: grid;
  place-items: center;
  background-color: #fff;
  z-index: 4;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;    
  }
  &__logo {
    min-width: 110px;
    max-width: 160px;
    width: 100%;
  }
  &__menu {
    &-btn {
      position: relative;
      flex-shrink: 0;
      width: 30px;
      height: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after, &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $grey1;
        transition: all .4s ease;
      }
      &::before {
        top: 0;
      }
      &::after {
        top: calc(100% - 3px);
      }
      &.active {         
        &::after, &::before {
          top: 50%;
        }
        &::after {
          opacity: 0;
        }
        &::before {
          transform: translateY(-50%) rotate(-45deg);
        }
        .header__menu-line {
          transform: rotate(45deg);
        }
      }
    }
    &-line {
      width: 100%;
      height: 3px;
      font-size: 0;
      background-color: $grey1;
      transition: all .4s ease;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__right, &__nav {
    position: fixed;
    right: -100%;
    width: 100%;
    background-color: #fff;
    z-index: 2;
  }
  &__right {
    top: 82px;
    height: 82px;
  }
  &__nav {
    top: 164px;
    height: calc(100vh - 164px);
  }
  &__donate {
    font-size: 14px;
    text-align: center;
    margin: 0 clamp(20px, 5vw, 40px);
  }
  &__search {
    margin-right: 25px;
    &-btn {
      position: relative;
      z-index: 1;
      font-size: 0;
      display: block;
      width: 22px;
      height: 22px;
      &:hover, 
      &:focus {
        & svg {
          fill: $yellow;
        }
      }
      & svg {
        fill: $grey1;
        pointer-events: none;
        transition: fill .4s ease;        
      }      
    }
    &-input {
      position: absolute;
      right: 130px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      padding: 6px 40px 6px 20px;
      background-color: #fff;
      border-radius: 40px;
      border: 1px solid $grey1;
      opacity: 0;
      visibility: hidden;
      transition: width .4s ease;
      outline: none;
      &:focus {
        border-color: $yellow;
      }
      &.active {
        width: calc(100% - 125px);
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__calendar {
    position: relative;
    font-size: 0;
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 25px;
    &:hover, 
    &:focus {
      & svg {
        fill: $yellow;
      }
    }
    & svg {
      fill: $grey1;
      pointer-events: none;
      transition: fill .4s ease;        
    } 
    
  }
  &__langs {
    &-list {
      position: relative;
    }
    &-current {
      position: relative;
      z-index: 2;
      padding-left: 2px;
      &:hover, &:focus {
        & .header__langs-sub {
          top: 30px;
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
      }      
    }
    &-currbtn {
      &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        margin-left: 5px;
        transition: transform .4s ease;
        background: url('../imgs/down.svg') no-repeat center / contain;
      }
    }
    &-item {
      &.current {
        background-color: $grey-bg2;
      }
      font-weight: 500;
      .en, .arm {
        display: flex;
        align-items: center;
        &::before {
          content: '';
          display: block;
          width: 24px;
          height: 20px;
          margin-right: 5px;
        }
      }
      .en::before {
        background: url('../imgs/us.svg') no-repeat center / contain;
      }
      .arm::before {
        background: url('../imgs/arm.svg') no-repeat center / contain;
      }
      &:hover,
      &:focus {
        & .header__langs-currbtn::after {
          transform: rotateX(180deg);
        }
      }
    }
    &-sub {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100px;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      box-shadow: 0 0 8px rgba(0, 0, 0, .2);
      transition: all .4s ease;
      & .header__langs-item {
        padding: 10px;
      }
    }
    &-current {
      position: relative;
      z-index: 1;      
    }
  }
}
.nav-list {
  display: flex;
  align-items: center;
  &__btn {
    padding: 3px 0 3px 9px;    
  }
  &__item {
    position: relative;    
    &:nth-child(1) .nav-list__btn {
      &:hover, 
      &:focus {
        background: url('../imgs/icon1.svg') no-repeat top left / contain;
      }
    }
    &:nth-child(2) .nav-list__btn {
      &:hover, 
      &:focus {
        background: url('../imgs/icon2.svg') no-repeat top left / contain;
      }
    }
    &:nth-child(3) .nav-list__btn {
      &:hover, 
      &:focus {
        background: url('../imgs/icon3.svg') no-repeat top left / contain;
      }
    }
    &:nth-child(4) .nav-list__btn {
      &:hover, 
      &:focus {
        background: url('../imgs/icon4.svg') no-repeat top left / contain;
      }
    }
  }
}
.nav-sublist {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 1px;
  overflow: hidden;
  visibility: hidden;
  transition: max-height .7s ease;
  &.active {
    visibility: visible;
    max-height: 5000px;
  }
}
.main {
  position: relative;
  &__title {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  padding-top: 82px;
  &__hero {
    max-height: 100%;
    &-wrapper {
      position: relative;      
    }
    min-height: 400px;
    &-item {
      position: relative;
      overflow: hidden;
      display: grid !important;
      min-height: 400px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: $gradient;
        box-shadow: inset 20px -20px 65px rgba(0, 0, 0, .5);
      }   
    }    
    &-title {
      font-size: 64px;
      font-weight: 700;
      letter-spacing: 4px;
      width: max-content;
      color: #fff;
    }
    &-img {
      height: 100%;
      width: 100%;
    }
    &-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
    }
    &-descr {
      max-width: 325px;
      font-weight: 500;
    }
    &-names {
      position: absolute;
      left: 0;
      bottom: 10px;
      padding: 0 20px;
      min-width: 200px;
    }
    &-name {
      color: #fff;
      font-weight: 600;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: opacity .4s ease;
      &.active {
        position:static;
        visibility: visible;
        opacity: 1;
      }
    }
    .slick-dots {
      position: absolute;
      bottom: 25px;
      padding: 20px;
      font-size: 0;
      display: flex;
      align-items: center;
      min-width: 175px;
      & li {
        &:not(:last-child) {
          margin-right: 5px;
        }
        & button {
          height: 4px;
          width: 40px;
          border-radius: 2px;
          background-color: rgba(255, 255, 255, .5);
          
        }
      }      
      & li.slick-active button {
        background-color: $yellow;
      }
    }    
  }
  &__our {
    padding-top: 60px;
    padding-bottom: 60px;
    &-mobtitle {
      max-width: 160px;
      font-size: 36px;
      text-align: center;
      margin: 0 auto 20px;
    }
    &-text {
      text-align: center;
      font-size: 14px;
      & .title {
        display: none;
      }
    }
  }
  &__mission-text {
    margin-bottom: 15px;
  }
  &__what {
    padding-bottom: 45px;
    &-pic {
      width: 100%;
      margin-bottom: 40px;
    }
    &-title {
      font-size: 42px;
      margin-bottom: 20px;
    }
    &-descr {
      font-size: 14px;
      margin-bottom: 20px;
    }
    &-item {      
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      &::before {
        content: '';
        display: block;
        width: 52px;
        height: 52px;
        margin-right: 18px;      
      }
    }
    &-num {
      font-family: $nve;
      font-size: 24px;
      font-weight: 700;
    }
    &-text {
      font-size: 18px;
    }
    .beneficiaries::before {
      background: url('../imgs/what-ico-1.svg') no-repeat center / contain;
    }
    .programs::before {
      background: url('../imgs/what-ico-2.svg') no-repeat center / contain;
    }
    .renovations::before {
      background: url('../imgs/what-ico-3.svg') no-repeat center / contain;
    }
    .communities::before {
      background: url('../imgs/what-ico-4.svg') no-repeat center / contain;
    }
  }
  &__donate {
    background-color: $yellow;
    padding-top: 30px;
    padding-bottom: 35px;
    &-inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: .5fr 1.7fr 2fr;  
      grid-gap: 10px;  
    }
    &-title {
      font-size: 42px;
      letter-spacing: 2px;
    }
    &-subtext {
      font-size: 14px;
      margin-bottom: 20px;
    }
    &-percent {
      font-family: $nve;
      font-size: 54px;
      font-weight: 700;
      line-height: 1.2;
      color: #fff;
    } 
    &-pertext {
      font-weight: 600;
      line-height: 1.3;
    }

    &-heading {
      grid-column: 1/3;
      grid-row: 1/2;
    }
    &-logo {
      grid-column: 1/2;
      grid-row: 2/3;
      position: relative;
      width: 146px;
      height: 124px;
      &:hover, 
      &:focus {
        .donate__logo-cover {
          opacity: 0;
        }
      }
      .donate__logo-cover {
        position: absolute;
        left: 8px;
        bottom: 15px;
        pointer-events: none;
        transition: opacity .4s ease;
      }
    }
    &-percent {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    &-formwrapp {
      grid-column: 1/3;
      grid-row: 3/4;
    }
    &-form {      
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 20px;
    }
    &-one {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &-five {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    &-custom {
      grid-column: 1/3;
      grid-row: 2/3;
      input {
        font-family: $msrt;
        font-weight: 600;
        width: 100%;
        outline: none;
        padding-bottom: 5px;
        &::placeholder {
          color: #000;
          font-size: 14px;
        }
      }
    }
    &-submit {
      grid-column: 1/3;
      grid-row: 3/4;
      background-color: #fff;
      font-weight: 600;
      border-radius: 46px;
      transition: background-color .4s ease, color .4s ease;
      &:hover, &:focus {
        background-color: #000;
        color: #fff;
      }
    }
    &-label {
      position: relative;
    }
    &-amount {      
      display: flex;
      align-items: center;
      font-family: $nve;
      font-size: 20px;
      font-weight: 700;
      padding: 0 20px;
      border: 1px solid #fff;
      border-radius: 46px;
      height: 100%;
      &::before {
        content: '$';
        margin-right: 5px;
      }
    }
    &-radio {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      &:checked + .main__donate-amount {
        border: 2px solid #000;
        background: url("../imgs/donate-black.svg") no-repeat center right 20px / 40px;
      }
    }    
  }
  &__villages {
    padding-top: 80px;
    overflow: hidden;
    &-title {
      font-size: 36px;
      text-align: center;
      margin-bottom: 20px;
    }
    &-descr {
      font-size: 14px;
      text-align: center;
      margin-bottom: 40px;
    }
    &-more {
      display: none;
    }
    &-vidwrapper {
      position: relative;
      display: flex;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, .4);
        transition: background-color .4s ease;
      }
      &:hover::before {
        background-color: rgba($yellow, .12);
      }
    }
    &-video {
      width: 100%;
      min-height: 560px;
      object-fit: cover;
    }
    &-vidplay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      z-index: 2;
      background: url("../imgs/play.svg") no-repeat center / 64px;

    }
  }
  &__stories {
    padding-top: 80px;
    padding-bottom: 60px;
    &-arrow {
      position: relative;
      display: none;
      transition: box-shadow .4s ease;
      border-radius: 50%;
      width: 52px;
      height: 52px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale(.9);
        border-radius: 50%;
      }
      &:hover,
      &:focus {
        &::before {
          box-shadow: 0 0 10px $yellow;
        }
      }
    }
    &-title {
      font-size: 62px;
      color: $yellow;
    }
    &-items {
      display: flex;
      align-items: flex-start;
      margin-bottom: 40px;
      overflow-x: auto;      
    }
    &-iteminner {
      transform: scale(.92);
      transition: box-shadow .4s ease;
      padding: 15px;
    }
    &-item {
      min-width: 236px;
      &:hover .main__stories-iteminner {
        box-shadow: 0 6px 16px rgba(0, 0, 0, .2);
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    &-date {
      font-size: 12px;
      font-weight: 500;
      color: $grey2;
      margin-bottom: 10px;
    }
    &-name {
      font-family: $nve;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 15px;      
    }
    &-more {
      margin-left: 15px;
    }
  }
  &__location {
    position: relative;
    overflow: hidden;
    
    &-img {
      position: relative;
      max-height: 400px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;     
      & img {
        width: 100%;
      }
    }
    &-location {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: grid;
      place-items: center;
      grid-row-gap: 10px;
      z-index: 1;
    }
    
    &-name {
      font-family: $nve;
      font-weight: 700;
      color: #fff;
    }    
  }
}
.our-story {
  &__hero::before {
    content: none;
  }
  &__info {
    max-width: 680px;
    margin: 0 auto;
    padding-bottom: 20px;
    &-title {
      font-size: 42px;
      text-align: center;
      text-transform: uppercase;
    }
    &-sub {
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 20px;
      text-align: center;
    }
    &-p:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__quote, blockquote {
    font-size: 18px;
    font-weight: 700;
    max-width: 600px;
    border-left: 2px solid $yellow;
    padding-left: 15px;
    margin-bottom: 30px;
    color: $black;
  }
}
.blog {
  padding-bottom: 80px;
  &__img {
    width: 100%;
    min-height: 400px;
  }
  &__items {
    max-width: 400px;
    margin: 0 auto 60px;
    padding: 0 20px;
    &-pages {
      display: none;
    }
    &-more {
      display: block;
      margin: 0 auto;
    }
  }
  &__item { 
    display: block;   
    padding: 20px;
    margin-bottom: 20px;
    &:hover, &:focus {
      box-shadow: 0 6px 16px rgba(0, 0, 0, .25);
    }
    &-img {
      margin-bottom: 20px;
      width: 100%;
    }
    &-date, &-tags {
      font-size: 12px;
      font-weight: 500;
    }
    &-title {
      font-size: 22px;
      text-transform: uppercase;
      margin: 10px 0;
      line-height: 1.2;
    }
  }

}
.blog-item {
  padding-top: 142px;
  padding-bottom: 100px;
  &__title {
    font-size: 36px;
    line-height: 1.8;
    text-align: center;
    text-transform: uppercase;
  }
  &__sub {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &-date {
      display: flex;
      align-items: center;      
      &::before, &::after {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $grey1;
        margin: 0 4px;
      }
    }
  }
  &__img {
    min-height: 400px;
    margin-bottom: 40px;
    width: 100%;
  }
  &__info {
    margin-bottom: 60px;
  }
  &__p {
    margin-bottom: 30px;
  }
  &__subtitle {
    font-size: 26px;
    margin-bottom: 30px;
  }
  &__imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-bottom: 60px;
    & img {
      width: 100%;
    }
  }
  &__quote {
    margin-bottom: 40px;
    border-left: 2px solid $yellow;
    padding-left: 15px;
  }
  &__quotetext {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: $black;
  }
  &__quoteauthor {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5px;
  }
  &__share {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $nve;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 25px;
    display: flex;
    align-items: center;
    height: 40px;
  }
  &__socials {
    border-top: 1px solid $grey2;
    padding-top: 40px;
    &-wrapper {
      display: flex;
      align-items: flex-start;
      max-width: 317px;
      margin-bottom: 40px;
    }
    &-group {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-width: 245px;
      max-height: 45px;
      overflow: hidden;
      transition: max-height .8s ease;
      &.active {
        max-height: 145px;
      }
    }
    &-link {
      display: block;
      width: 100%;
      height: 100%;
      & svg {
        width: 100%;
        height: 100%;
      }
    }
    &-item {
      width: 40px;
      height: 40px;
      margin-right: 12px;
      margin-bottom: 12px;
    }
    &-expand {
      width: 40px;
      height: 40px;
    } 
    &-expbtn {
      &.active {
        & .vertical {
          opacity: 0;
        }
      }
      & svg {
        width: 40px;
        height: 40px;
      }
    } 
  }
  &__tags {
    padding: 10px 0 5px;
    border-top: 1px solid $grey2;
    border-bottom: 1px solid $grey2;
    display: flex;
    margin-bottom: 100px;
  }
  &__tagstext {
    font-family: $nve;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 25px;
  }
  &__tagslist {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 6px;
  }
  &__tag {
    font-size: 14px;
    margin-bottom: 10px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }  
  &__inner {
    position: relative;
    margin-bottom: 20px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background-color .4s ease;
      background-color: rgba(#fff, .4);
    }
  }
  &__arrow {
    display: block;
    margin-bottom: 40px;
    &:hover .blog-item__inner::before,
    &:focus .blog-item__inner::before {
      background-color: transparent;
    }
  }
  &__article {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $nve;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    &::before, &::after {
      content: '';
      display: block;
      width: 22px;
      height: 16px;      
      margin-top: -2px;
    }
    &.prev-art::before {
      margin-right: 12px;
      background: url('../imgs/prev-art.svg') no-repeat center / contain;
    }
    &.next-art::after {
      margin-left: 12px;
      background: url('../imgs/next-art.svg') no-repeat center / contain;
    }
  }
  &__arrows {
    max-width: 600px;
    margin: 0 auto;
    & img {
      width: 100%;
    }
    &-sup {
      font-size: 12px;
      margin-bottom: 10px;
    }
    &-date {
      font-size: 12px;
    }
  }
  &__arrowstitle {
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.footer {
  &__subscribe {
    padding-bottom: 80px;
    &-title {
      font-size: 38px;
      text-align: center;
      margin-bottom: 5px;
      padding-top: 80px;
    }
    &-subtext {
      text-align: center;
      margin-bottom: 35px;
    }
    &-formgroup {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0 10px;
      margin-bottom: 15px;
    }
    &-input {
      width: 100%;
      font-size: 12px;      
      padding: 10px 20px;
      border: 1px solid #000;
      border-radius: 46px;
      outline: none;
      font-weight: 500;
      &:hover, &:focus {
        box-shadow: 0 3px 6px $grey-bg2;
      }
    }
    &-select {
      position: relative;
      padding: 0;
      color: $grey2;
      background-color: transparent;
      & select {
        display: block;
        width: 100%;
        appearance: none;
        padding: 12px 20px;
        margin-right: 0;
        outline: none;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        width: 12px;
        height: 12px;
        background: url('../imgs/down-grey.svg') no-repeat center / contain;
        pointer-events: none;
      }
    }
    &-submit {
      display: block;
      min-width: 168px;
      margin: 26px auto 0;
    }
  }
}
.footer-bottom {
  padding: 40px 0 20px;
  background-color: $black;
  &__logo {
    display: none;
  }
  &__contact {
    margin-bottom: 40px;
    font-weight: 600;
    color: #fff;
    &-link {
      display: flex;
      align-items: center;
      width: max-content;
      &::before {
        content: '';
        display: block;
        width: 26px;
        height: 26px;
        background: url("../imgs/mail.svg") no-repeat center / contain;
        margin-right: 10px;
      }
    }
  }
  &__social-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  &__soc {
    &-item {
      margin-right: 10px;
      & .soc-ellipse {
        fill: none;
        stroke: $yellow;
        stroke-width: 1px;
        & circle {
          fill: $black;
          transition: fill .4s ease;
        }
        .thisone-white {
          fill: #fff;
        }
      }
    }
    &-link {
      display: flex;
      margin-bottom: 10px;
    }
    &-expbtn {
      display: flex;
      margin-bottom: 10px;
      & .soc-ellipse {
        fill: none;
        stroke: $yellow;
        stroke-width: 1px;
        & circle {
          fill: $black;
          transition: fill .4s ease;
        }        
        & svg {
          pointer-events: none;
        }
      }
      & .vertical {
        opacity: 1;
        transition: opacity .4s ease;
      }
      &.active {
        & .vertical {
          opacity: 0;
        }
      }
      & svg path, & svg .wt {
        transition: fill .4s ease;
        fill: #fff;
      }
      &:active {
        & .soc-ellipse circle {
          fill: $yellow;
        }
        & svg path, & svg .wt {
          fill: #000;
        }
      }
    }    
  }
  &__socgroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 230px;
    max-height: 46px;
    overflow: hidden;
    transition: max-height .8s ease;
    &.active {
      max-height: 100px;
    }
  }
  &__quick {
    &-title {
      color: $yellow;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 8px;
      margin-bottom: 25px;
    }
    &-list {
      color: #fff;
      font-weight: 500;
      margin-bottom: 40px;
    }
    &-item {
      margin-bottom: 10px;
    }
  }
  &__separator {
    position: relative;
    border-top: 1px solid #3e3e3e;
    padding-top: 20px;
  }
  &__charity {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    & a {
      height: 42px;
      &:not(:last-child) {
        margin-right: 10px;
      }
      & img {
        height: 100%;
        width: auto;
      }
    }
  }
  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
      max-width: 222px;
      font-size: 10px;
      color: #fff;
      line-height: 2;
    }
  }
  &__totop {
    position: fixed;
    bottom: -50px;
    right: 40px;
    z-index: 5;
    width: max-content;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease;
    &.visible {
      bottom: 70px;
      opacity: 1;
      visibility: visible;
    }
    & svg {
      pointer-events: none;
      fill: $yellow;
      transition: fill .4s ease;
      .totop-arrow {
        fill: #000;
        transition: fill .4s ease;
      }
    }
    &:hover,
    &:focus {
      & svg {
        fill: #000;
        .totop-arrow {
          fill: #fff;
        }
      }
    }
  }
}

@import "_media";