/*
 Theme Name:   COAF
 Theme URI:    https://coaf.org
 Description:  Custom theme for COAF website. 
 Author:       Vecto Digital
 Author URI:   https://vecto.digital
 Version:      1.0.0
 Text Domain:  coaf
*/


*,
::after,
::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-width: 320px;
    overflow-x: hidden;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #535353;
}
.title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.9px;
    color: #070707;
}
a,
button,
input {
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}
object {
    cursor: pointer;
}
.container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 0 clamp(20px, 6vw, 40px);
}
.invisible-scroll {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.invisible-scroll::-webkit-scrollbar {
    width: 5px;
}
.invisible-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}
.invisible-scroll ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
}
.btn-primary {
    padding: 8px;
    border-radius: 32px;
    background-color: #fdc20f;
    font-weight: 600;
    min-width: 100px;
    text-align: center;
    -webkit-transition: background-color 0.4s ease, color 0.4s ease;
    -o-transition: background-color 0.4s ease, color 0.4s ease;
    transition: background-color 0.4s ease, color 0.4s ease;
}
.btn-primary:focus,
.btn-primary:hover {
    background-color: #000;
    color: #fff;
}
.link-more {
    border: 1px solid #fdc20f;
    padding: 10px 20px;
    border-radius: 46px;
    -webkit-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}
.main__stories-morewrap {
	text-align: center;
}
.link-more:focus,
.link-more:hover {
    background-color: #fffae9;
}
.main-black {
    color: #070707;
}
.main-grey {
    color: #535353;
}
.hero-global {
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
}
.hero-global::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 170, 0, 0.5)));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 170, 0, 0.5));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 170, 0, 0.5));
    -webkit-box-shadow: inset 20px -20px 65px rgba(0, 0, 0, 0.5);
    box-shadow: inset 20px -20px 65px rgba(0, 0, 0, 0.5);
}
.hero-title {
    font-size: 64px;
    text-transform: uppercase;
    color: #fff;
}
.hero-text {
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1260px;
    padding: 0 clamp(20px, 6vw, 40px);
}
.hero-img {
    min-height: 400px;
    width: 100%;
    height: 100%;
}
.light-grey-bg {
    background-color: #f9f9f9 !important;
}
.inner-icon {
    fill: #fff;
}
.social-link:focus .soc-ellipse circle,
.social-link:hover .soc-ellipse circle {
    fill: #fdc20f;
}
.social-link:focus .inner-icon,
.social-link:hover .inner-icon {
    fill: #070707;
}
.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: 0;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:after,
.slick-track:before {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 82px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background-color: #fff;
    z-index: 4;
}
.admin-bar .header {
	margin-top: 30px;
}
.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__logo {
    min-width: 110px;
    max-width: 160px;
    width: 100%;
}
/* Mobile menu */

.hamburger-button {
	position: relative;
	height: 20px;
	width: 25px;
	z-index: 88;
	top: 2px;
	right: 0;
	cursor: pointer;
}
/* fix ham button when menu opened - prevents scrolling issue */

.hamburger-button:hover {
    cursor: pointer;
}
.hamburger-button .hamburger-bar-top {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #363F46;
    border-radius: 1px;
    top: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.hamburger-button .hamburger-bar-middle {
	position: absolute;
	width: 100%;
	background: #363F46;
	height: 2px;
	border-radius: 1px;
	top: 8px;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.hamburger-button .hamburger-bar-bottom {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #363F46;
    border-radius: 1px;
    top: 16px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.transparent .hamburger-button .hamburger-bar-top,
.transparent .hamburger-button .hamburger-bar-middle,
.transparent .hamburger-button .hamburger-bar-bottom {
    background: #FFFFFF;
}
.nt-mm1-button-open .hamburger-bar-top {
    -webkit-transform: rotate(45deg) translate(8px, 8px);
    -moz-transform: rotate(45deg) translate(8px, 8px);
    -ms-transform: rotate(45deg) translate(8px, 8px);
    -o-transform: rotate(45deg) translate(8px, 8px);
    transform: rotate(45deg) translate(8px, 8px);
}
.nt-mm1-button-open .hamburger-bar-middle {
    opacity: 0;
}
.nt-mm1-button-open .hamburger-bar-bottom {
    -webkit-transform: rotate(-45deg) translate(7px, -7px);
    -moz-transform: rotate(-45deg) translate(7px, -7px);
    -ms-transform: rotate(-45deg) translate(7px, -7px);
    -o-transform: rotate(-45deg) translate(7px, -7px);
    transform: rotate(-45deg) translate(7px, -7px);
    top: 21px;
}

/**
 * Main wrapper
 */
.nt-mm1-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    overflow: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 77;
    background-size: cover;
    background-position: center top;
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -o-transform: translateX(150%);
    transform: translateX(150%);
}
.nt-mm1-show-menu {
    background: #fff;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-box-shadow: 8px 15px 40px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 8px 15px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 8px 15px 40px rgba(0, 0, 0, 0.15);
}
.mobile-logo-opened-menu.nt-mobile-logo {
    top: 55px;
    left: 10px;
    display: inline-block;
}
.mobile-menu {
	margin: 25px 42px 25px 30px;
	padding: 0;
	position: relative;
	top: 80px;
	list-style: none;
	text-align: left;
}
.mobile-menu li > a {
	font-size: 16px;
	line-height: 24px;
	font-feature-settings: 'liga' off;
	color: #363F46;
	position: relative;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	text-decoration: none;
}
.mobile-menu li .sub-menu a {
    font-size: 14px;
}
.mobile-menu .main-menu-item-has-children {
    position: relative;
}
.mobile-menu li {
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	padding-left: 10px;
}
.mobile-menu .main-menu-item-has-children .sub-menu {
    display: none;
    padding-top: 10px;
}
.mobile-menu li .sub-menu span {
	right: 20px;
    width: 15px;
    height: 15px;
}
.mobile-menu li svg {
    fill: #363F46;
}

/**
 * Submenu arrow
 */
.dropdown-menu-ul .nt-responsive-toggle-subarrow {
    display: block;
    color: #999999;
    font-weight: normal;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: center;
    padding: 7px 20px 10px 20px;
    z-index: 10;
    font-size: 22px;
}
.mobile-menu li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
    line-height: 22px;
}
.mobile-menu li span svg {
	width: 100%;
	height: 100%;
}
.mobile-menu li span i {
    width: 10px;
    font-size: 16px;
    height: auto;
    color: #000;
    padding: 0;
    margin: 0 0 0 0;
    fill: #8C9093;
    vertical-align: middle;
}
.mobile-menu li span.nt-mm1-submenu-active i {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.nt-mm1-chevron i {
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 10px;
}
.nt-mm1-chevron i:hover {
    opacity: 1;
}
.dropdown-menu-wrapper .menu-item {
	position: relative;
}
.dropdown-menu-wrapper .menu-item::after {
	display: none;
}
.dropdown-menu-wrapper .sub-menu {
	display: none;
	position: relative;
	width: 100%;
    margin-top: 25px;
}
/**
 * Submenu
 */
.dropdown-menu-ul .sub-menu {
    transition: max-height 0.5s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: max-height 0.5s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: max-height 0.5s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: max-height 0.5s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropdown-menu-ul .sub-menu li {
    font-size: 12px;
}
.dropdown-menu-ul .sub-menu li:first-child {
    padding-top: 20px;
}
.dropdown-menu-ul li {
    padding: 10px 0 10px 18px;
}
.fixed .hamburger-button .hamburger-bar-top,
.fixed .hamburger-button .hamburger-bar-middle,
.fixed .hamburger-button .hamburger-bar-bottom,
.hamburger-button.nt-mm1-button-open .hamburger-bar-top,
.hamburger-button.nt-mm1-button-open .hamburger-bar-middle,
.hamburger-button.nt-mm1-button-open .hamburger-bar-bottom {
	background: #363F46;
}
.header__menu-line {
    width: 100%;
    height: 3px;
    font-size: 0;
    background-color: #535353;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.header__nav,
.header__right {
    position: fixed;
    right: -100%;
    width: 100%;
    background-color: #fff;
    z-index: 2;
}
.header__right {
    top: 82px;
    height: 82px;
}
.header__nav {
    top: 164px;
    height: calc(100vh - 164px);
}
.header__donate {
    font-size: 14px;
    text-align: center;
    margin: 0 clamp(20px, 5vw, 40px);
}
.header__search {
    margin-right: 25px;
}
.header__search-btn {
    position: relative;
    z-index: 1;
    font-size: 0;
    display: block;
    width: 22px;
    height: 22px;
}
.header__search-btn:focus svg,
.header__search-btn:hover svg {
    fill: #fdc20f;
}
.header__search-btn svg {
    fill: #535353;
    pointer-events: none;
    -webkit-transition: fill 0.4s ease;
    -o-transition: fill 0.4s ease;
    transition: fill 0.4s ease;
}
.header__search-input {
    position: absolute;
    right: 130px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 10px;
    padding: 6px 40px 6px 20px;
    background-color: #fff;
    border-radius: 40px;
    border: 1px solid #535353;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: width 0.4s ease;
    -o-transition: width 0.4s ease;
    transition: width 0.4s ease;
    outline: 0;
}
.header__search-input:focus {
    border-color: #fdc20f;
}
.header__search-input.active {
    width: calc(100% - 125px);
    opacity: 1;
    visibility: visible;
}
.header__calendar {
    position: relative;
    font-size: 0;
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 25px;
}
.header__calendar:focus svg,
.header__calendar:hover svg {
    fill: #fdc20f;
}
.header__calendar svg {
    fill: #535353;
    pointer-events: none;
    -webkit-transition: fill 0.4s ease;
    -o-transition: fill 0.4s ease;
    transition: fill 0.4s ease;
}
.header__langs-list {
    position: relative;
}
.header__langs-current {
    position: relative;
    z-index: 2;
    padding-left: 2px;
}
.header__langs-current:focus .header__langs-sub,
.header__langs-current:hover .header__langs-sub {
    top: 30px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.header__langs-currbtn::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    background: url(assets/imgs/down.svg) no-repeat center/contain;
}
.header__langs-item {
    font-weight: 500;
}
.header__langs-item.current {
    background-color: #f9f9f9;
}
.header__langs-item .arm,
.header__langs-item .en {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header__langs-item .arm::before,
.header__langs-item .en::before {
    content: "";
    display: block;
    width: 24px;
    height: 20px;
    margin-right: 5px;
}
.header__langs-item .en::before {
    background: url(assets/imgs/us.svg) no-repeat center/contain;
}
.header__langs-item .arm::before {
    background: url(assets/imgs/arm.svg) no-repeat center/contain;
}
.header__langs-item:focus .header__langs-currbtn::after,
.header__langs-item:hover .header__langs-currbtn::after {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.header__langs-sub {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.header__langs-sub .header__langs-item {
    padding: 10px;
}
.header__langs-current {
    position: relative;
    z-index: 1;
}
nav.navbar .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
nav.navbar .menu-item {
    padding: 3px 0 3px 9px;
}
nav.navbar .menu-item {
    position: relative;
}
nav.navbar .nav-list > .menu-item:nth-child(1) a::before,
nav.navbar .nav-list > .menu-item:nth-child(2) a::before,
nav.navbar .nav-list > .menu-item:nth-child(3) a::before,
nav.navbar .nav-list > .menu-item:nth-child(4) a::before {
	background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
	content: "";
	position: absolute;
	left: 0;
	top: 2px;
	display: block;
	width: 30px;
	height: 30px;
	z-index: -1;
    opacity: 0;
    transform: rotate(360deg);
    transition: all 0.5s;
}
nav.navbar .nav-list > .menu-item:nth-child(1) a:focus::before,
nav.navbar .nav-list > .menu-item:nth-child(1) a:hover::before {
    background-image: url(assets/imgs/icon1.svg);
    opacity: 1;
    transform: rotate(0deg);
    transition: all 0.5s;
}
nav.navbar .nav-list > .menu-item:nth-child(2) a:focus::before,
nav.navbar .nav-list > .menu-item:nth-child(2) a:hover::before {
    background-image: url(assets/imgs/icon2.svg);
    opacity: 1;
    transform: rotate(0deg);
    transition: all 0.5s;
}
nav.navbar .nav-list > .menu-item:nth-child(3) a:focus::before,
nav.navbar .nav-list > .menu-item:nth-child(3) a:hover::before {
    background-image: url(assets/imgs/icon3.svg);
    opacity: 1;
    transform: rotate(0deg);
    transition: all 0.5s;
}
nav.navbar .nav-list > .menu-item:nth-child(4) a:focus::before, 
nav.navbar .nav-list > .menu-item:nth-child(4) a:hover::before {
	background-image: url(assets/imgs/icon4.svg);
    opacity: 1;
    transform: rotate(0deg);
    transition: all 0.5s;
}
nav.navbar .sub-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 1px;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: max-height 0.7s ease;
    -o-transition: max-height 0.7s ease;
    transition: max-height 0.7s ease;
}
nav.navbar .sub-menu.active {
    visibility: visible;
    max-height: 5000px;
}
.main {
    position: relative;
    padding-top: 82px;
}
.main__title {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.main__hero {
    max-height: 100%;
    min-height: 400px;
}
.main__hero-wrapper {
    position: relative;
}
.main__hero-item {
    position: relative;
    overflow: hidden;
    display: -ms-grid !important;
    display: grid !important;
    min-height: 400px;
}
.main__hero-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 170, 0, 0.5)));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 170, 0, 0.5));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 170, 0, 0.5));
    -webkit-box-shadow: inset 20px -20px 65px rgba(0, 0, 0, 0.5);
    box-shadow: inset 20px -20px 65px rgba(0, 0, 0, 0.5);
}
.main__hero-title {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 4px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #fff;
}
.main__hero-img {
    height: 100%;
    width: 100%;
}
.main__hero-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
}
.main__hero-descr {
    max-width: 325px;
    font-weight: 500;
}
.main__hero-names {
    position: absolute;
    left: 0;
    bottom: 10px;
    padding: 0 20px;
    min-width: 200px;
}
.main__hero-name {
    color: #fff;
    font-weight: 600;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}
.main__hero-name.active {
    position: static;
    visibility: visible;
    opacity: 1;
}
.main__hero .slick-dots {
    position: absolute;
    bottom: 25px;
    padding: 20px;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 175px;
}
.main__hero .slick-dots li:not(:last-child) {
    margin-right: 5px;
}
.main__hero .slick-dots li button {
    height: 4px;
    width: 40px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}
.main__hero .slick-dots li.slick-active button {
    background-color: #fdc20f;
}
.main__our {
    padding-top: 60px;
    padding-bottom: 60px;
}
.main__our-mobtitle {
    max-width: 160px;
    font-size: 36px;
    text-align: center;
    margin: 0 auto 20px;
}
.main__our-text {
    text-align: center;
    font-size: 14px;
}
.main__our-text .title {
    display: none;
}
.main__mission-text {
    margin-bottom: 15px;
}
.main__what {
    padding-bottom: 45px;
}
.main__what-pic {
    width: 100%;
    margin-bottom: 40px;
}
.main__what-title {
    font-size: 42px;
    margin-bottom: 20px;
}
.main__what-descr {
    font-size: 14px;
    margin-bottom: 20px;
}
.main__what-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}
.main__icon-info {
	margin-right: 20px;
}
.main__what-num {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.main__what-text {
    font-size: 18px;
}

.main__donate {
    background-color: #fdc20f;
    padding-top: 30px;
    padding-bottom: 35px;
}
.main__donate-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 0.5fr 1.7fr 2fr;
    grid-template-rows: 0.5fr 1.7fr 2fr;
    grid-gap: 10px;
}
.main__donate-title {
    font-size: 42px;
    letter-spacing: 2px;
}
.main__donate-subtext {
    font-size: 14px;
    margin-bottom: 20px;
}
.main__donate-percent {
    font-family: "Bebas Neue", sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}
.main__donate-pertext {
    font-weight: 600;
    line-height: 1.3;
}
.main__donate-heading {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
}
.main__donate-logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    position: relative;
    width: 146px;
    height: 124px;
}
.main__donate-logo:focus .donate__logo-cover,
.main__donate-logo:hover .donate__logo-cover {
    opacity: 0;
}
.main__donate-logo .donate__logo-cover {
    position: absolute;
    left: 8px;
    bottom: 15px;
    pointer-events: none;
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}
.main__donate-percent {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
}
.main__donate-formwrapp {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
}
.main__donate-form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr) [3];
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}
.main__donate-one {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
}
.main__donate-five {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
}
.main__donate-custom {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
}
.main__donate-custom input {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    width: 100%;
    outline: 0;
    padding-bottom: 5px;
}
.main__donate-custom input::-webkit-input-placeholder {
    color: #000;
    font-size: 14px;
}
.main__donate-custom input::-moz-placeholder {
    color: #000;
    font-size: 14px;
}
.main__donate-custom input:-ms-input-placeholder {
    color: #000;
    font-size: 14px;
}
.main__donate-custom input::-ms-input-placeholder {
    color: #000;
    font-size: 14px;
}
.main__donate-custom input::placeholder {
    color: #000;
    font-size: 14px;
}
.main__donate-submit {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    background-color: #fff;
    font-weight: 600;
    border-radius: 46px;
    -webkit-transition: background-color 0.4s ease, color 0.4s ease;
    -o-transition: background-color 0.4s ease, color 0.4s ease;
    transition: background-color 0.4s ease, color 0.4s ease;
}
.main__donate-submit:focus,
.main__donate-submit:hover {
    background-color: #000;
    color: #fff;
}
.main__donate-label {
    position: relative;
}
.main__donate-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 0 20px;
    border: 1px solid #fff;
    border-radius: 46px;
    height: 100%;
}
.main__donate-amount::before {
    content: "$";
    margin-right: 5px;
}
.main__donate-radio {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.main__donate-radio:checked + .main__donate-amount {
    border: 2px solid #000;
    background: url(assets/imgs/donate-black.svg) no-repeat center right 20px/40px;
}
.main__villages {
    padding-top: 80px;
    overflow: hidden;
}
.main__villages-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.main__villages-descr {
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
}
.main__villages-more {
    display: none;
}
.main__villages-vidwrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.main__villages-vidwrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}
.main__villages-vidwrapper:hover::before {
    background-color: rgba(253, 194, 15, 0.12);
}
.main__villages-video {
    width: 100%;
    min-height: 560px;
    -o-object-fit: cover;
    object-fit: cover;
}
.main__villages-vidplay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url(assets/imgs/play.svg) no-repeat center/64px;
    z-index: 3;
}
.main__villages-vidwrapper img {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
}
.main__villages-vidwrapper.active img, 
.main__villages-vidwrapper.active:before,
.main__villages-vidwrapper.active .main__villages-vidplay {
	display: none;
}
.main__stories-arrow {
    position: relative;
    display: none;
    -webkit-transition: -webkit-box-shadow 0.4s ease;
    transition: -webkit-box-shadow 0.4s ease;
    -o-transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}
.main__stories-arrow::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    border-radius: 50%;
}
.main__stories-arrow:focus::before,
.main__stories-arrow:hover::before {
    -webkit-box-shadow: 0 0 10px #fdc20f;
    box-shadow: 0 0 10px #fdc20f;
}
.main__stories-title {
    font-size: 62px;
    color: #fdc20f;
}
.main__stories-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 40px;
    overflow-x: auto;
}
.main__stories-iteminner {
    -webkit-transform: scale(0.92);
    -ms-transform: scale(0.92);
    transform: scale(0.92);
    -webkit-transition: -webkit-box-shadow 0.4s ease;
    transition: -webkit-box-shadow 0.4s ease;
    -o-transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
    padding: 15px;
}
.main__stories-item {
    min-width: 236px;
}
.main__stories-item:hover .main__stories-iteminner {
    -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
.main__stories-item:not(:last-child) {
    margin-right: 10px;
}
.main__stories-date {
    font-size: 12px;
    font-weight: 500;
    color: #929292;
    margin-bottom: 10px;
}
.main__stories-name {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.main__stories-more {
    margin-left: 15px;
}
.main__location {
    position: relative;
    overflow: hidden;
}
.main__location-img {
    position: relative;
    max-height: 400px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.main__location-img img {
    width: 100%;
}
.main__location-location {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: table;
    text-align: center;
    grid-row-gap: 10px;
    z-index: 1;
}
.main__location-location img {
	width: 40px;
	height: auto;
	margin-bottom: 10px;
}
.main__location-name {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    color: #fff;
}
.our-story__hero::before {
    content: none;
}
.our-story__info {
    max-width: 680px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.our-story__info-title {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
}
.our-story__info-sub {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
.our-story__info-p:not(:last-child) {
    margin-bottom: 30px;
}
.our-story blockquote,
.our-story__quote {
    font-size: 18px;
    font-weight: 700;
    max-width: 600px;
    border-left: 2px solid #fdc20f;
    padding-left: 15px;
    margin-bottom: 30px;
    color: #070707;
}
.row-o-content-middle .column {
	align-self: center;
}
.row-o-full-height .column-inner {
	height: 100%;
}
.wpcf7-submit {
	width: auto;
	text-align: center;
	display: block;
	/* margin-top: 40px; */
	cursor: pointer;
	margin: 0 auto;
	margin-top: 40px;
	padding: 10px 20px;
}
.wpcf7-select {
	padding: 12px;
}
.blog {
    padding-bottom: 80px;
}
.blog__img {
    width: 100%;
    min-height: 400px;
}
.blog__items {
    max-width: 400px;
    margin: 0 auto 60px;
    padding: 0 20px;
}
.blog__items-pages {
    display: none;
}
.blog__items-more {
    display: block;
    margin: 0 auto;
}
.blog__item {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
}
.blog__item:focus,
.blog__item:hover {
    -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}
.blog__item-img {
    margin-bottom: 20px;
    width: 100%;
}
.blog__item-date,
.blog__item-tags {
    font-size: 12px;
    font-weight: 500;
}
.blog__item-title {
    font-size: 22px;
    text-transform: uppercase;
    margin: 10px 0;
    line-height: 1.2;
}
.blog-item {
    padding-top: 142px;
    padding-bottom: 100px;
}
.blog-item__title {
    font-size: 36px;
    line-height: 1.8;
    text-align: center;
    text-transform: uppercase;
}
.blog-item__sub {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 45px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.blog-item__sub-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.blog-item__sub-date::after,
.blog-item__sub-date::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #535353;
    margin: 0 4px;
}
.blog-item__img {
    min-height: 400px;
    margin-bottom: 40px;
    width: 100%;
}
.blog-item__info {
    margin-bottom: 60px;
}
.blog-item__p {
    margin-bottom: 30px;
}
.blog-item__subtitle {
    font-size: 26px;
    margin-bottom: 30px;
}
.blog-item__imgs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-bottom: 60px;
}
.blog-item__imgs img {
    width: 100%;
}
.blog-item__quote {
    margin-bottom: 40px;
    border-left: 2px solid #fdc20f;
    padding-left: 15px;
}
.blog-item__quotetext {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #070707;
}
.blog-item__quoteauthor {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5px;
}
.blog-item__share {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
}
.blog-item__socials {
    border-top: 1px solid #929292;
    padding-top: 40px;
}
.blog-item__socials-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 317px;
    margin-bottom: 40px;
}
.blog-item__socials-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 245px;
    max-height: 45px;
    overflow: hidden;
    -webkit-transition: max-height 0.8s ease;
    -o-transition: max-height 0.8s ease;
    transition: max-height 0.8s ease;
}
.blog-item__socials-group.active {
    max-height: 145px;
}
.blog-item__socials-link {
    display: block;
    width: 100%;
    height: 100%;
}
.blog-item__socials-link svg {
    width: 100%;
    height: 100%;
}
.blog-item__socials-item {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    margin-bottom: 12px;
}
.blog-item__socials-expand {
    width: 40px;
    height: 40px;
}
.blog-item__socials-expbtn.active .vertical {
    opacity: 0;
}
.blog-item__socials-expbtn svg {
    width: 40px;
    height: 40px;
}
.blog-item__tags {
    padding: 10px 0 5px;
    border-top: 1px solid #929292;
    border-bottom: 1px solid #929292;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
}
.blog-item__tagstext {
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 25px;
}
.blog-item__tagslist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 6px;
}
.blog-item__tag {
    font-size: 14px;
    margin-bottom: 10px;
}
.blog-item__tag:not(:last-child) {
    margin-right: 20px;
}
.blog-item__inner {
    position: relative;
    margin-bottom: 20px;
}
.blog-item__inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    background-color: rgba(255, 255, 255, 0.4);
}
.blog-item__arrow {
    display: block;
    margin-bottom: 40px;
}
.blog-item__arrow:focus .blog-item__inner::before,
.blog-item__arrow:hover .blog-item__inner::before {
    background-color: transparent;
}
.blog-item__article {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #070707;
}
.blog-item__article::after,
.blog-item__article::before {
    content: "";
    display: block;
    width: 22px;
    height: 16px;
    margin-top: -2px;
}
.blog-item__article.prev-art::before {
    margin-right: 12px;
    background: url(assets/imgs/prev-art.svg) no-repeat center/contain;
}
.blog-item__article.next-art::after {
    margin-left: 12px;
    background: url(assets/imgs/next-art.svg) no-repeat center/contain;
}
.blog-item__arrows {
    max-width: 600px;
    margin: 0 auto;
}
.blog-item__arrows img {
    width: 100%;
}
.blog-item__arrows-sup {
    font-size: 12px;
    margin-bottom: 10px;
}
.blog-item__arrows-date {
    font-size: 12px;
}
.blog-item__arrowstitle {
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer__subscribe {
    padding-bottom: 80px;
}
.footer__subscribe-title {
    font-size: 38px;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 80px;
}
.footer__subscribe-subtext {
    text-align: center;
    margin-bottom: 35px;
}
.footer__subscribe-formgroup {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 10px;
    margin-bottom: 15px;
}
.footer__subscribe-input, .wpcf7-select {
	width: 100%;
	font-size: 12px;
	padding: 10px 20px;
	border: 1px solid #000;
	border-radius: 46px;
	outline: 0;
	font-weight: 500;
}
.footer__subscribe-input:focus,
.footer__subscribe-input:hover {
    -webkit-box-shadow: 0 3px 6px #f9f9f9;
    box-shadow: 0 3px 6px #f9f9f9;
}
.footer__subscribe-select {
	position: relative;
	padding: 12px 20px;
	color: #929292;
	background-color: transparent;
	padding: ;
}
.footer__subscribe-select select {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px 20px;
    margin-right: 0;
    outline: 0;
}
.footer__subscribe-select::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    width: 12px;
    height: 12px;
    background: url(assets/imgs/down-grey.svg) no-repeat center/contain;
    pointer-events: none;
}
.footer__subscribe-submit {
    display: block;
    min-width: 168px;
    margin: 26px auto 0;
}
.footer-bottom {
    padding: 40px 0 20px;
    background-color: #070707;
}
.footer-bottom__logo {
    display: block;
}
.footer-bottom__contact {
    margin-bottom: 40px;
    font-weight: 600;
    color: #fff;
}
.footer-bottom__contact-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.footer-bottom__contact-link::before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background: url(assets/imgs/mail.svg) no-repeat center/contain;
    margin-right: 10px;
}
.footer-bottom__social-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 40px;
}
.footer-bottom__soc-item {
    margin-right: 10px;
}
.footer-bottom__soc-item .soc-ellipse {
    fill: none;
    stroke: #fdc20f;
    stroke-width: 1px;
}
.footer-bottom__soc-item .soc-ellipse circle {
    fill: #070707;
    -webkit-transition: fill 0.4s ease;
    -o-transition: fill 0.4s ease;
    transition: fill 0.4s ease;
}
.footer-bottom__soc-item .soc-ellipse .thisone-white {
    fill: #fff;
}
.footer-bottom__soc-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}
.footer-bottom__soc-expbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}
.footer-bottom__soc-expbtn .soc-ellipse {
    fill: none;
    stroke: #fdc20f;
    stroke-width: 1px;
}
.footer-bottom__soc-expbtn .soc-ellipse circle {
    fill: #070707;
    -webkit-transition: fill 0.4s ease;
    -o-transition: fill 0.4s ease;
    transition: fill 0.4s ease;
}
.footer-bottom__soc-expbtn .soc-ellipse svg {
    pointer-events: none;
}
.footer-bottom__soc-expbtn .vertical {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}
.footer-bottom__soc-expbtn.active .vertical {
    opacity: 0;
}
.footer-bottom__soc-expbtn svg .wt,
.footer-bottom__soc-expbtn svg path {
    -webkit-transition: fill 0.4s ease;
    -o-transition: fill 0.4s ease;
    transition: fill 0.4s ease;
    fill: #fff;
}
.footer-bottom__soc-expbtn:active .soc-ellipse circle {
    fill: #fdc20f;
}
.footer-bottom__soc-expbtn:active svg .wt,
.footer-bottom__soc-expbtn:active svg path {
    fill: #000;
}
.footer-bottom__socgroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 230px;
    max-height: 46px;
    overflow: hidden;
    -webkit-transition: max-height 0.8s ease;
    -o-transition: max-height 0.8s ease;
    transition: max-height 0.8s ease;
}
.footer-bottom__socgroup.active {
    max-height: 100px;
}
.footer-bottom__quick-title {
    color: #fdc20f;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 25px;
}
.menu-footer-menu-container {
    color: #fff;
    font-weight: 500;
    margin-bottom: 40px;
}
footer .menu-item {
    margin-bottom: 10px;
}
.footer-bottom__separator {
    position: relative;
    border-top: 1px solid #3e3e3e;
    padding-top: 20px;
}
.footer-bottom__charity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}
.footer-bottom__charity a {
    height: 42px;
}
.footer-bottom__charity a:not(:last-child) {
    margin-right: 10px;
}
.footer-bottom__charity a img {
    height: 100%;
    width: auto;
}
.footer-bottom__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-bottom__copyright-text {
    font-size: 10px;
    color: #fff;
    line-height: 2;
}
.footer-bottom__vecto {
	cursor: pointer;
	z-index: 2;
	width: 90px;
	height: 45px;
}
.footer-bottom__totop {
    position: fixed;
    bottom: -50px;
    right: 40px;
    z-index: 5;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.footer-bottom__totop.visible {
    bottom: 70px;
    opacity: 1;
    visibility: visible;
}
.footer-bottom__totop svg {
    pointer-events: none;
    fill: #fdc20f;
    -webkit-transition: fill 0.4s ease;
    -o-transition: fill 0.4s ease;
    transition: fill 0.4s ease;
}
.footer-bottom__totop svg .totop-arrow {
    fill: #000;
    -webkit-transition: fill 0.4s ease;
    -o-transition: fill 0.4s ease;
    transition: fill 0.4s ease;
}
.footer-bottom__totop:focus svg,
.footer-bottom__totop:hover svg {
    fill: #000;
}
.footer-bottom__totop:focus svg .totop-arrow,
.footer-bottom__totop:hover svg .totop-arrow {
    fill: #fff;
}
.main-menu {
    display: none;
} 
.vc_column-gap-35 .column:first-child .column-inner {
    padding-right: 0px;
}
.vc_column-gap-35 .column:last-child .column-inner {
    padding-left: 0px;
}
.vc_column-gap-30 .column:first-child .column-inner {
    padding-right: 0px;
}
.vc_column-gap-30 .column:last-child .column-inner {
    padding-left: 0px;
}
.vc_column-gap-25 .column:first-child .column-inner {
    padding-right: 0px;
}
.vc_column-gap-25 .column:last-child .column-inner {
    padding-left: 0px;
}
.vc_column-gap-20 .column:first-child .column-inner {
    padding-right: 0px;
}
.vc_column-gap-20 .column:last-child .column-inner {
    padding-left: 0px;
}
.vc_column-gap-15 .column:first-child .column-inner {
    padding-right: 0px;
}
.vc_column-gap-15 .column:last-child .column-inner {
    padding-left: 0px;
}
.single_image-img.attachment-full {
	text-align: center;
	object-fit: cover;
	margin: 0 auto;
}

.map-image {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.footer__subscribe-input, .wpcf7-select {
	margin-bottom: 15px;
}
.main__stories {
	padding: 0 15px;
	margin-bottom: 35px;
}
.main__location-img img {
	width: 100%;
	object-fit: contain;
}
.section-has-fill .col-md-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}
.section-has-fill .col-md-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 45%;
	max-width: 45%;
}
.section-has-fill .col-md-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 55%;
	max-width: 55%;
}
.main__location-location {
	left: calc(50% - 75px);
	top: 57%;
	right: 0;
	bottom: 0;
}
@media (min-width: 992px) {
    .section-has-fill .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .section-has-fill .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .nt-mobile-wrapper-spacer {
        display: none;
    }
    .main-menu {
        display: block;
    } 
    .footer__subscribe-input, .wpcf7-select {
        margin-bottom: 0px;
    }
    .main__stories {
        padding: 0px;
    }
    .main__stories {
        padding: 0 15px;
    }
    .vc_column-gap-35 .column:first-child .column-inner {
        padding-right: 70px;
    }
    .vc_column-gap-35 .column:last-child .column-inner {
        padding-left: 70px;
    }
    .vc_column-gap-30 .column:first-child .column-inner {
        padding-right: 60px;
    }
    .vc_column-gap-30 .column:last-child .column-inner {
        padding-left: 60px;
    }
    .vc_column-gap-25 .column:first-child .column-inner {
        padding-right: 50px;
    }
    .vc_column-gap-25 .column:last-child .column-inner {
        padding-left: 50px;
    }
    .vc_column-gap-20 .column:first-child .column-inner {
        padding-right: 40px;
    }
    .vc_column-gap-20 .column:last-child .column-inner {
        padding-left: 40px;
    }
    .vc_column-gap-15 .column:first-child .column-inner {
        padding-right: 30px;
    }
    .vc_column-gap-15 .column:last-child .column-inner {
        padding-left: 30px;
    }
    .header__content {
        position: relative;
        margin: 0 20px;
    }
    .main__location-img img {
        width: 100%;
        object-fit: cover;
    }
    .header__nav,
    .header__right {
        position: static;
        right: unset;
        width: 100%;
        background-color: unset;
        max-height: 82px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header .navbar .menu-item {
        white-space: nowrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 500;
    }
    .header .navbar .menu-item::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background: url(assets/imgs/down.svg) no-repeat center/contain;
        margin-left: 5px;
    }
    .header .navbar .menu-item:not(:last-child) {
        margin-right: 10px;
    }
    .header .navbar .menu-item:not(:last-child) {
        margin-right: 20px;
    }
    .header__donate {
        margin: 0 40px 0 25px;
    }
    .main__hero {
        height: 100%;
    }
    .main__hero-wrapper {
        height: calc(100vh - 82px);
        min-height: 650px;
        overflow: hidden;
    }
    .main__hero-title {
        font-size: clamp(92px, 7vw, 120px);
    }
    .main__hero-name {
        visibility: visible;
        opacity: 0;
    }
    .main__hero-names {
        opacity: 0;
        visibility: hidden;
    }
    .main__hero-content {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        top: 38%;
    }
    .main__hero .slick-dots {
        max-width: 1200px;
        width: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .main__hero .slick-dots li button {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        height: unset;
        background-color: transparent;
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        position: relative;
    }
    .main__hero .slick-dots li.slick-active button {
        position: relative;
        background-color: transparent;
    }
    .main__hero .slick-dots li.slick-active button::before {
        background-color: #fdc20f;
        transition: all 0.5s;
        width: 120%;
    }
    .main__hero .slick-dots li button::before {
        content: "";
        position: absolute;
        left: 0;
        top: -8px;
        width: 0%;
        height: 3px;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.0);
        transition: all 0.5s;
    }
    .main__hero .slick-list,
    .main__hero .slick-track {
        height: 100%;
    }
    .main__our-mobtitle {
        display: none;
    }
    .main__our-text {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr) [2];
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 140px;
    }
    .main__our-text .title {
        display: block;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .main__mission-text {
        margin-bottom: 0;
        line-height: 1.8;
    }
    .main__mission-text,
    .main__vision-text {
        line-height: 1.8;
        max-width: 450px;
        margin: 0 auto;
    }
    .main__what {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        padding-bottom: 0;
    }
    .main__what-title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .main__what-pic {
        margin-bottom: 0;
        height: 100%;
    }
    .main__what-text {
        background-color: #f3f3f3;
        padding: 25px 25px 0;
    }
    .main__what-descr {
        margin-bottom: 20px;
    }
    .main__what-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr) [2];
        grid-template-columns: repeat(2, 1fr);
    }
    .main__donate-inner {
        -ms-grid-columns: 1fr 2fr 3fr;
        grid-template-columns: 1fr 2fr 3fr;
        -ms-grid-rows: (1fr) [2];
        grid-template-rows: repeat(2, 1fr);
    }
    .main__donate-logo {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .main__donate-heading {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
    }
    .main__donate-percents {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .main__donate-percent {
        margin-right: 10px;
    }
    .main__donate-pertext {
        max-width: 170px;
    }
    .main__donate-formwrapp {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3/4;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .main__donate-form {
        width: 100%;
    }
    .main__donate-subtext {
        margin-bottom: 0;
    }
    .main__donate-amount {
        padding: 2px 20px 0;
    }
    .main__villages {
        max-width: 1200px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .main__villages-title {
        margin-bottom: 20px;
    }
    .main__villages-text {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
        padding: 50px 75px 50px 20px;
    }
    .main__villages-more {
        display: block;
        margin: 0 auto;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }
    .main__villages-vidwrapper {
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    }
    .main__villages-video {
        min-height: unset;
    }
    .main__stories {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
        -ms-grid-rows: (1fr) [2];
        grid-template-rows: repeat(2, 1fr);
    }
    .main__stories-arrows {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (52px) [2];
        grid-template-columns: repeat(2, 52px);
        grid-gap: 10px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: 0 auto;
    }
    .main__stories-arrow {
        display: block;
    }
    .main__stories-arrow .arrow-bg {
        fill: #fdc20f;
        stroke: #fdc20f;
    }
    .main__stories-arrow.disable .arrow-bg {
        fill: #fff;
        stroke: #a8a8a8;
        stroke-width: 1px;
    }
    .main__stories-arrow.disable path {
        fill: "#a2a2a2";
    }
    .main__stories-title {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        text-align: center;
        margin: 30px 0 20px;
    }
    .main__stories-items {
        position: relative;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/3;
        margin-bottom: 0;
    }
    .main__stories-items .slick-track {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .main__stories-items .slick-arrow {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0;
    }
    .main__stories-item {
        min-width: unset;
    }
    .main__stories-morewrap {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
    }
    .main__stories-more {
        display: block;
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;
        margin: 0 auto;
        padding: 5px 15px;
    }
    .main__stories-date {
        font-size: 14px;
    }
    .main__stories-name {
        font-size: 22px;
    }
    .main__stories-descr {
        font-size: 18px;
    }
    .main__location-img img {
        padding-bottom: 25vw;
    }
    .main__location-location {
        left: calc(50% - 200px);
    }
    .our-story__info {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 100px;
    }
    .our-story__info-title {
        font-size: 48px;
        margin-bottom: 10px;
    }
    .our-story__info-sub {
        font-size: 20px;
        margin-bottom: 36px;
    }
    .our-story__info-p:not(:last-child) {
        margin-bottom: 40px;
    }
    .our-story blockquote,
    .our-story__quote {
        padding-left: 45px;
        margin-bottom: 40px;
    }
    .blog {
        padding-bottom: 100px;
    }
    .blog__hero {
        max-height: 436px;
    }
    .blog__img {
        -o-object-position: 0 40%;
        object-position: 0 40%;
    }
    .blog__items {
        max-width: 924px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr) [3];
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .blog__items-more {
        display: none;
    }
    .blog__items-pages {
        max-width: 924px;
        padding-right: 90px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .blog__items-pagelist {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .blog__items-pagelink {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 50%;
        margin: 0 5px;
        -webkit-transition: background-color 0.4s ease, color 0.4s ease;
        -o-transition: background-color 0.4s ease, color 0.4s ease;
        transition: background-color 0.4s ease, color 0.4s ease;
    }
    .blog__items-pagelink.current {
        background-color: #fdc20f;
        color: #fff;
    }
    .blog__items-pagelink:focus,
    .blog__items-pagelink:hover {
        background-color: #fdc20f;
        color: #fff;
    }
    .blog__items-pagelink:focus svg,
    .blog__items-pagelink:hover svg {
        fill: #fff;
    }
    .blog__items-pagelink.disabled {
        fill: #929292;
        pointer-events: none;
    }
    .blog__items-dots {
        display: block;
        margin: 0 10px -6px;
        color: #fdc20f;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .blog__item {
        margin-bottom: 0;
    }
    .blog .tag-separator {
        padding: 0 5px;
    }
    .blog-item {
        position: relative;
    }
    .blog-item__arrows,
    .blog-item__heading,
    .blog-item__tags {
        margin-left: 150px;
    }
    .blog-item__title {
        font-size: 40px;
        line-height: 1.35;
        max-width: 600px;
        margin: 0 auto 25px;
    }
    .blog-item__sub-date::after,
    .blog-item__sub-date::before {
        margin: 0 10px;
    }
    .blog-item__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: 0 auto;
    }
    .blog-item__content-text {
        max-width: 720px;
    }
    .blog-item__img,
    .blog-item__p,
    .blog-item__subtitle {
        margin-bottom: 45px;
    }
    .blog-item__quote {
        max-width: 585px;
        padding-left: 45px;
    }
    .blog-item__share {
        margin-right: 0;
    }
    .blog-item__socials {
        width: 50px;
        margin-right: 80px;
        border-top: none;
        padding-top: 0;
    }
    .blog-item__socials-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: sticky;
        top: 100px;
        margin-bottom: 0;
    }
    .blog-item__socials-item {
        margin-right: 0;
        margin-bottom: 8px;
        width: 32px;
        height: 32px;
    }
    .blog-item__socials-expand {
        width: 32px;
        height: 32px;
    }
    .blog-item__socials-expbtn svg {
        width: 32px;
        height: 32px;
    }
    .blog-item__socials-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        max-height: 199px;
        height: 100%;
    }
    .blog-item__socials-group.active {
        max-height: 320px;
    }
    .blog-item__arrows,
    .blog-item__tags {
        max-width: 720px;
        margin: 0 auto;
        -webkit-transform: translateX(65px);
        -ms-transform: translateX(65px);
        transform: translateX(65px);
    }
    .blog-item__arrows {
        margin-top: 120px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr) [2];
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .footer__subscribe-form {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 10px;
    }
    .footer__subscribe-submit {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;
    }
    .footer-bottom {
        position: relative;
        min-height: 288px;
    }
    .footer-bottom::after {
        content: "";
        position: absolute;
        bottom: 90px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #3e3e3e;
    }
    .footer-bottom__inner {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr) [3];
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 1fr 2fr 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-gap: 0 50px;
    }

    .footer-bottom__socials {
        margin-top: 38px;
    }
    .footer-bottom__social-wrapper {
        margin-bottom: 0;
    }
    .footer-bottom__quick {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/3;
    }
    .menu-footer-menu-container ul {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr) [2];
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: (1fr) [3];
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: column;
    }
    footer .menu-item {
        font-size: 14px;
    }
    footer .menu-item {
        margin-bottom: 0;
    }
    .footer-bottom__separator {
        position: static;
        border-top: none;
        padding-top: 0;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3/4;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
    }
    .footer-bottom__copyright {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1/4;
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        grid-row: 4/5;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 100px;
        grid-template-columns: 1fr 100px;
        margin-top: 25px;
    }
    .footer-bottom__copyright-text {
        text-align: center;
        max-width: unset;
        font-size: 12px;
    }
    .footer-bottom__charity a {
        opacity: 0.8;
        -webkit-transition: opacity 0.4s ease;
        -o-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease;
    }
    .footer-bottom__charity a:focus,
    .footer-bottom__charity a:hover {
        opacity: 1;
    }
    .footer-bottom__charity a:not(:last-child) {
        margin-right: 10px;
    }
    .footer-bottom__totop.visible {
        bottom: 95px;
    }
    .hero-global {
        margin-bottom: 100px;
    }
    .hero-title {
        font-size: 92px;
    }
    .hero-text {
        bottom: 65px;
    }
}
@media (min-width: 1200px) {
    .main__our {
        padding-top: 120px;
        padding-bottom: 100px;
    }
    .main__what-title {
        font-size: 48px;
    }
    .main__what-text {
        padding: 70px 70px 0;
        line-height: 1.8;
    }
    .main__what-textin {
        max-width: 470px;
    }
    .main__what-descr {
        margin-bottom: 50px;
    }
    .main__what-list {
        grid-gap: 30px;
    }
    .main__donate-form {
        -ms-grid-columns: (1fr) [2] (2fr) [2];
        grid-template-columns: repeat(2, 1fr) repeat(2, 2fr);
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    }
    .main__donate-custom,
    .main__donate-five,
    .main__donate-one,
    .main__donate-submit {
        grid-column: unset;
        grid-row: unset;
        height: 46px;
    }
    .main__donate-five,
    .main__donate-one {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }
    .main__donate-radio:checked + .main__donate-amount {
        background: 0 0;
    }
    .main__villages {
        padding-top: 120px;
    }
    .main__stories-title {
        margin-bottom: 40px;
    }
    .main__stories-morewrap {
        padding-top: 100px;
    }
    .footer__subscribe {
        padding-bottom: 120px;
    }
    .footer__subscribe-title {
        padding-top: 120px;
    }
    .footer-bottom__inner {
        grid-gap: 0 160px;
    }
    .hero-global {
        height: calc(100vh - 82px);
    }
    .hero-title {
        font-size: clamp(92px, 7vw, 120px);
    }
}

@media (max-width: 776px) {
    .single_image-wrapper.vc_box_border_grey {
        width: 100%;
        height: auto;
    }

}
